body {
     background: url('img/bg.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
    font-family: 'Roboto', sans-serif;
 }


#mainContent {
    margin-top: 80px;
}

th, td {
    color: #838383; !important;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.square {
    width: 300px;
    height: 100%;
    border: 1px solid black;
    margin: 10px;
    float: left;
    padding: 30px;
    text-align: center;
    background-color: lightgray;
}

.nav-link {
    display: block;
}

.invisible {
    display: none;
}
